{% extends "_base.html" %}

{% block title %}Review{% endblock %}
{% block main %}
  <div class="card border-primary m-auto mb-3 text-center"
    style="max-width: 30rem">
    <div class="card-header">{{ review.review }}</div>
    {% if review.user == user %}
    <div class="card-footer">
        <a href="{% url 'reviews:update' review.pk %}"
          class="btn btn-info btn-sm me-2">Update</a>
        <a href="{% url 'reviews:delete' review.pk %}"
          class="btn btn-danger btn-sm me-2">Delete</a>
      </div>
      {% endif %}
      <small class="text-muted">
        Created on: {{ review.created }} by {{ review.user.username }} <br>
        Last updated: {{ review.updated }}
      </small>
    </div>
  </div>
{% endblock %}